body {
    /* 사용자가 예제의 텍스트를 선택하지 못하도록 */
    user-select: none;
}

#draggable {
    text-align: center;
}

.dropzone {
    background: blueviolet;
}

.dropzone.dragover {
    background-color: purple;
}

.dragging {
    opacity: 0.5;
}